/* Import all CSS modules in order */
@import url('variables.css');
@import url('base.css');
@import url('preloader.css');
@import url('cursor.css');
@import url('backgrounds.css');
@import url('navigation.css');
@import url('components.css');
@import url('hero.css');
@import url('sections.css');
@import url('about.css');
@import url('projects.css');
@import url('skills.css');
@import url('contact.css');
@import url('footer.css');
@import url('easter-eggs.css');
@import url('projects-modal.css');
@import url('responsive.css');
