body {
  background: linear-gradient(to bottom right, lightblue, violet);
}

.nameOdd {
  color: #ffffff;
}

.nameEven {
  color: transparent;
}

.HeroTitle {
  transition: all 0.2s ease-in-out;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
  font-size: 80px; /* Taille par défaut */
}

.w-75 {
  width: 75% !important;
}

.w-md-75 {
  width: 75% !important;
}

.my-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.w-350px {
  height: 350px !important;
  width: 80%;
  max-width: 675px !important;
  margin: 20px;
}

.w-200px {
  width: 200px !important;
}

.w-250px {
  height: 250px !important;
  width: 200px !important;
}

.w-250px > img {
  max-height: 150px !important;
  width: 150px !important;
}

.w-250px > h4 {
  height: 50px !important;
}

.W-50 {
  width: 50% !important;
}

.decorated {
  font-size: 80px;
  color: black;
  font-weight: bold;
}

.decorated-white {
  font-size: 80px;
  color: white;
  font-weight: bold;
}

.mx-10 {
  margin-left: 10rem !important;
  margin-right: 10rem !important;
}

.img-skill {
  width: 150px;
  margin: auto;
}

.text-img {
  margin-top: 5px;
}

.item-nav {
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

/* Animation pour le texte */
.HeroTitle {
  font-family: "Arial", sans-serif;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid;
  animation: typing 12s steps(20) infinite, blink 0.7s step-end infinite;
}

/* Animation pour l'apparition et disparition du texte */
@keyframes typing {
  0% {
    width: 0;
  }
  10% {
    width: 100%;
  }
  90% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

/* Animation pour le curseur clignotant */
@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    /* border-color: black; */
  }
}

/* Style pour le bouton de retour en haut */
#scrollTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  width: 60px;
  height: 60px;
  background-color: #333;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease;
}

#scrollTopBtn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 25px solid white;
}

#scrollTopBtn:hover {
  background-color: #555;
}

#scrollTopBtn.hidden {
  opacity: 0;
  pointer-events: none;
}

/* Animation fade-in */
.fade-in {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

/* Style des bulles sociales */
.social-bubble {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Nécessaire pour positionner l'icône */
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.social-bubble i {
  position: absolute; /* L'icône reste centrée */
  transition: color 0.3s ease;
  top: 5px;
  left: 14px;
}

.social-bubble:hover {
  transform: scale(1.2);
  background-color: #007bff;
}

.social-bubble:hover i {
  color: #fff;
}

.nav-item {
  height: 75px;
  display: flex;
  align-items: center;
}

.nav-item:hover {
  background-color: rgb(67, 75, 83);
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-item:active {
  background-color: rgb(51, 57, 63);
}

/* Media Queries pour les petits écrans */
@media screen and (max-width: 768px) {
  .w-75 {
    width: 100% !important;
  }

  .w-md-75 {
    width: 100% !important;
  }

  .my-5 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }

  .w-200px {
    height: 100% !important;
    max-width: 100% !important;
    margin: 20px 0;
  }

  .mx-10 {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }

  /* Ajustement de la taille de police pour les petits écrans */
  .HeroTitle {
    font-size: 40px; /* Taille de police plus petite sur mobile */
  }
}

@media screen and (min-width: 1400px) {
  .w-100 {
    width: 100% !important;
    max-width: 70% !important;
  }
}

.card-body-left {
  box-shadow: 32px 32px 8px rgba(0, 0, 0, 0.5); /* Ombre douce */
  border-radius: 8px; /* Optionnel : pour des coins arrondis */
}

.card-body-rigth {
  box-shadow: -32px 32px 8px rgba(0, 0, 0, 0.5); /* Ombre douce */
  border-radius: 8px; /* Optionnel : pour des coins arrondis */
}

.my-8 {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}

